altgraph==0.17.5
asgiref==3.11.1
dj-database-url==3.1.2
Django==6.0.3
gunicorn==25.1.0
packaging==26.0
pefile==2024.8.26
psycopg2-binary==2.9.11
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.3
pywin32-ctypes==0.2.3
setuptools==82.0.1
sqlparse==0.5.5
tzdata==2025.3
whitenoise==6.12.0
